* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0f1424;
  font-family: "Rubik", sans-serif;
  position: relative;
}

.cards {
  min-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  overflow: hidden;
}

@media only screen and (max-width: 1023px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 1023px) and (max-width: 1023px) {
  .cards .card-container:nth-child(1) {
    height: 200px;
    margin-top: 25px;
  }
}

.cards .card-container {
  width: 300px;
  height: 525px;
  margin-right: 25px;
  border-radius: 18px;
  overflow: hidden;
}

@media only screen and (max-width: 1300px) {
  .cards .card-container {
    width: 250px;
  }
}

@media only screen and (max-width: 1150px) {
  .cards .card-container {
    width: 230px;
  }
}

@media only screen and (max-width: 1023px) {
  .cards .card-container {
    width: calc(100% - 50px);
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: calc(500px + 50px - 100px);
  }
}

.cards .card-container .card-hero {
  height: 100%;
  background: #1c1f4a;
}

.cards .card-container .card-hero .card-hero-top {
  background: #5847eb;
  height: 66%;
  padding: 30px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

@media only screen and (max-width: 1023px) {
  .cards .card-container .card-hero .card-hero-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.cards .card-container .card-hero .card-hero-top .hero {
  height: 80px;
}

.cards .card-container .card-hero .card-hero-top .hero img {
  height: 100%;
  border: 3px solid white;
  border-radius: 100%;
}

.cards .card-container .card-hero .card-hero-top .name {
  font-size: 15px;
  font-weight: 300;
  color: #bdc1ff;
}

@media only screen and (max-width: 1023px) {
  .cards .card-container .card-hero .card-hero-top .name {
    margin-left: 20px;
  }
}

.cards .card-container .card-hero .card-hero-top .name .first-last {
  color: white;
  font-size: 35px;
}

@media only screen and (max-width: 1023px) {
  .cards .card-container .card-hero .card-hero-top .name .first-last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cards .card-container .card-hero .card-hero-top .name .first-last div {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 425px) {
  .cards .card-container .card-hero .card-hero-top .name .first-last {
    font-size: calc(35px - 10px);
  }
}

.cards .card-container .card-hero .card-hero-bottom {
  height: 33%;
  padding: 30px;
  font-size: 17px;
  font-weight: 300;
}

@media only screen and (max-width: 1023px) {
  .cards .card-container .card-hero .card-hero-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.cards .card-container .card-hero .card-hero-bottom div {
  margin-bottom: 20px;
  width: 60px;
  color: #bdc1ff;
}

@media only screen and (max-width: 1023px) {
  .cards .card-container .card-hero .card-hero-bottom div {
    width: auto;
  }
}

.cards .card-container .card-hero .card-hero-bottom div:hover {
  cursor: pointer;
  color: white !important;
}

.cards .card-container .card-regular {
  height: 250px;
  margin-bottom: 25px;
  border-radius: 18px;
  border-bottom-left-radius: calc(10px + 18px);
  border-bottom-right-radius: calc(10px + 18px);
}

@media only screen and (max-width: 1023px) {
  .cards .card-container .card-regular {
    margin-bottom: 0;
    height: 200px;
  }
}

.cards .card-container .card-regular .card-regular-top {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 30px;
  overflow: hidden;
}

.cards .card-container .card-regular .card-regular-top img {
  height: 70px;
}

.cards .card-container .card-regular .card-regular-bottom {
  height: 80%;
  background: #1c1f4a;
  border-radius: 18px;
  padding: 30px;
}

.cards .card-container .card-regular .card-regular-bottom .activity-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .card-container .card-regular .card-regular-bottom .activity-name .activity-title {
  font-weight: 400;
  font-size: 18px;
  font-weight: 500;
}

.cards .card-container .card-regular .card-regular-bottom .activity-time {
  font-size: calc(35px + 15px);
  font-weight: 300;
  margin-top: 25px;
}

@media only screen and (max-width: 425px) {
  .cards .card-container .card-regular .card-regular-bottom .activity-time {
    font-size: calc(35px - 5px);
  }
}

.cards .card-container .card-regular .card-regular-bottom .activity-past {
  margin-top: 20px;
  color: #bdc1ff;
  font-size: 15px;
}

@media only screen and (max-width: 1023px) {
  .cards .card-container .card-regular .card-regular-bottom .time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cards .card-container .card-regular:hover {
  cursor: pointer;
}

.cards .card-container .card-regular:hover .card-regular-bottom {
  background-color: #34397B;
}

.cards .card-container .card-regular:nth-child(2) {
  margin-bottom: 0;
}

@media only screen and (max-width: 1023px) {
  .cards .card-container .card-regular:nth-child(1) {
    margin: 25px 0;
  }
}

.cards .card-container #work {
  background-color: #ff8c66;
}

.cards .card-container #play {
  background-color: #56c2e6;
}

.cards .card-container #study {
  background-color: #ff5c7c;
}

.cards .card-container #exercise {
  background-color: #4acf81;
}

.cards .card-container #social {
  background-color: #7536d3;
}

.cards .card-container #social .card-regular-top img {
  height: 110px;
  -o-object-position: 0 -15px;
     object-position: 0 -15px;
}

.cards .card-container #selfcare {
  background-color: #f1c65b;
}

.cards .card-container #selfcare .card-regular-top img {
  -o-object-position: 0 -10px;
     object-position: 0 -10px;
}

.cards .card-container:nth-child(4) {
  margin-right: 0;
}

@media only screen and (max-width: 1023px) {
  .cards .card-container:nth-child(4) {
    margin-bottom: 25px;
  }
}

.attribution {
  font-size: 18px;
  text-align: center;
  color: #56c2e6;
  position: absolute;
  width: 100%;
}

.attribution a {
  color: #7536d3;
}
/*# sourceMappingURL=style.css.map */