// card backgrounds
$card-hero-background: hsl(246, 80%, 60%);
$card-work-background: hsl(15, 100%, 70%);
$card-play-background: hsl(195, 74%, 62%);
$card-study-background: hsl(348, 100%, 68%);
$card-exercise-background: hsl(145, 58%, 55%);
$card-social-background: hsl(264, 64%, 52%);
$card-selfcare-background: hsl(43, 84%, 65%);
$card-background: hsl(235, 46%, 20%);

// body bacgrounds
$body-background: hsl(226, 43%, 10%);

// font colors
$font-color: hsl(236, 100%, 87%);
$font-tab-color: hsl(235, 45%, 61%);

// fonts
$main-ff: 'Rubik', sans-serif;

// font sizes
$cardtitle-size: 18px;
$primary-size: 35px;
$secondary-size: 15px;

// font weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;

// details
$card-padding: 30px;
$card-radius: 18px;
$card-gap: 25px;

// display sizes
@mixin laptop-m {
    @media only screen and (max-width: 1300px) {
        @content;
    }
}

@mixin laptop-s {
    @media only screen and (max-width: 1150px) {
        @content;
    }
}

// mobile
@mixin tablet {
    @media only screen and (max-width: 1023px) {
        @content;
    }
}

@mixin phone {
    @media only screen and (max-width: 425px) {
        @content;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $body-background;
    font-family: $main-ff;
    position: relative;
}


.cards {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;

    @include tablet {
        flex-direction: column;

        .card-container:nth-child(1) {
            @include tablet {
                height: 200px;
                margin-top: $card-gap;
            }
        }
    }

   .card-container {
       width: 300px;
       height: 525px;
       margin-right: $card-gap;
       border-radius: $card-radius;
       overflow: hidden;

       @include laptop-m {
           width: 250px;
       }

       @include laptop-s {
            width: 230px;
        }

        @include tablet {
            width: calc(100% - #{$card-gap * 2});
            margin-right: 0;
            display: flex;
            flex-direction: column;
            height: calc(500px + #{2 * $card-gap} - 100px);
        }

       .card-hero {
           height: 100%;
           background: $card-background;

           .card-hero-top {
               background: $card-hero-background;
               height: 66%;
               padding: $card-padding;
               border-bottom-left-radius: $card-radius;
               border-bottom-right-radius: $card-radius;

               @include tablet {
                    display: flex;
                }

               .hero {
                   height: 80px;
                   margin-bottom: 10px;

                   img {
                       height: 100%;
                       border: 3px solid white;
                       border-radius: 100%;
                   }
               }

               .name {
                    font-size: $secondary-size;
                    font-weight: $font-light;
                    color: $font-color;

                    @include tablet {
                        margin-left: 20px;
                    }

                   .first-last {
                       color: white;
                       font-size: $primary-size;

                       @include tablet {
                            display: flex;
                            
                            div {
                                margin-right: 10px;
                            }
                        }

                        @include phone {
                            font-size: calc(#{$primary-size} - 10px);
                        }
                   }
               }
           }

           .card-hero-bottom {
               height: 33%;
               padding: $card-padding;
               font-size: 17px;
               font-weight: $font-light;

               @include tablet {
                    display: flex;
                    justify-content: space-between;
                }

               div {
                   margin-bottom: 20px;
                   width: 60px;
                   color: $font-color;

                   @include tablet {
                       width: auto;
                   }
               }

               div:hover {
                   cursor: pointer;
                   color: white !important;
               }
           }
       }

       .card-regular {
           height: 250px;
           margin-bottom: $card-gap;
           border-radius: $card-radius;
           border-bottom-left-radius: calc(10px + #{$card-radius});
           border-bottom-right-radius: calc(10px + #{$card-radius});

           @include tablet {
            margin-bottom: 0;
            height: 200px;
           }

           .card-regular-top {
               height: 20%;
               display: flex;
               justify-content: flex-end;
               padding: 0 $card-padding;
               overflow: hidden;

               img {
                   height: 70px;
               }
           }

           .card-regular-bottom {
               height: 80%;
               background: $card-background;
               border-radius: $card-radius;
               padding: $card-padding;

               .activity-name {
                   display: flex;
                   justify-content: space-between;

                   .activity-title {
                       font-weight: $font-regular;
                       font-size: $cardtitle-size;
                       font-weight: $font-medium;
                   }
               }

               .activity-time {
                   font-size: calc(#{$primary-size} + 15px);
                   font-weight: $font-light;
                   margin-top: 25px;

                   @include phone {
                        font-size: calc(#{$primary-size} - 5px);
                    }
               }

               .activity-past {
                   margin-top: 20px;
                   color: $font-color;
                   font-size: $secondary-size;
               }

               .time {
                   @include tablet {
                       display: flex;
                       justify-content: space-between;
                       align-items: center;
                   }
               }
           }
       }

       .card-regular:hover {
            cursor: pointer;
           .card-regular-bottom {
               background-color: #34397B;
           }
       }

       .card-regular:nth-child(2) {
            margin-bottom: 0;
        }

        .card-regular:nth-child(1) {
            @include tablet {
                margin: $card-gap 0;
            }
        }

       #work {
           background-color: $card-work-background;
       }

       #play {
            background-color: $card-play-background;
        }

        #study {
            background-color: $card-study-background;
        }

        #exercise {
            background-color: $card-exercise-background;
        }

        #social {
            background-color: $card-social-background;

            .card-regular-top {
                img {
                    height: 110px;
                    object-position: 0 -15px;
                }
            }
        }

        #selfcare {
            background-color: $card-selfcare-background;

            .card-regular-top {
                img {
                    object-position: 0 -10px;
                }
            }
        }
   }

   .card-container:nth-child(4) {
        margin-right: 0;

        @include tablet {
            margin-bottom: $card-gap;
        }
    }
}

.attribution {
    font-size: $cardtitle-size;
    text-align: center;
    color: $card-play-background;
    position: absolute;
    width: 100%;

    a {
        color: $card-social-background;
    }
}